* {
  margin: 0;
  padding: 0;
}



body {
  background: #000000;
  font-family: Arial, sans-serif;
  overflow: hidden;
}


.textbox {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65vw;
  height: 98vh;
  overflow: hidden;
  z-index: 4;
}

.head {
  position: absolute;
  left: 50%;
  top: 50%;
  width: clamp(580px, 44vw, 920px);
  transform: translate(-50%, -50%);
  z-index: 45;
}

.headthought {
  position: absolute;
  width: 95%;
  overflow: hidden;
  z-index: 2;
}

.track {
  white-space: nowrap;
  width: max-content;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff0000;

  animation: scroll 40s linear infinite;
}

.topleft {
  top: 2%;
  left: -26%;
  transform: rotate(18deg);
}

.topright {
  top: 2%;
  right: -26%;
  transform: rotate(-18deg);
}

.middleleft {
  top: 50%;
  left: -50%;
}

.middleright {
  top: 50%;
  right: -50%;
}

.bottomleft {
  bottom: 2%;
  left: -26%;
  transform: rotate(-18deg);
}

.bottomright {
  bottom: 2%;
  right: -26%;
  transform: rotate(18deg);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}



.head img {
  width: 100%;
  display: block;
}

.texthead {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 72%;
  height: 62%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;

  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-size: 180px;

  z-index: 6;
}

.texthead span {
  display: block;
}

/* ITEMS */
.items a {
  position: absolute;
  display: block;
  transition: transform 0.25s ease;
  z-index: 90;
}

.items a img {
  display: block;
  width: 250px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.items a:hover {
  transform: scale(2.05);
}


.item-1 {
  top: 7%;
  left: 10%;
  transform: rotate(-14deg);
}

.item-2 {
  top: 16%;
  left: 26%;
  transform: rotate(10deg);
}

.item-3 {
  top: 4%;
  right: 8%;
  transform: rotate(14deg);
}

.item-4 {
  top: 30%;
  right: 28%;
  transform: rotate(-24deg);
}

.item-5 {
  bottom: 22%;
  left: 30%;
  transform: rotate(8deg);
}

.item-6 {
  bottom: 22%;
  right: 24%;
  transform: rotate(14deg);
}

.item-7 {
  bottom: 8%;
  left: 12%;
  transform: rotate(-14deg);
}

.item-8 {
  bottom: 8%;
  right: 1%;
  transform: rotate(-10deg);
}

.item-9 {
  width: 10vw;
  bottom: 3%;
  left: 84%;
  transform: translateX(-50%) rotate(8deg);
}

.item-10 {
  width: 10vw;
  top: 30%;
  left: 34%;
  transform: rotate(-8deg);
}


.item-11 {
  width: 10vw;
  top: 6%;
  right: 1%;
  transform: rotate(10deg);
}


.item-12 {
  bottom: 3%;
  right: 74%;
  transform: translateX(-50%) rotate(8deg);
}

.item-13 {
  top: 3%;
  left: 74%;
  transform: translateX(-50%) rotate(8deg);
}

.item-14 {
  bottom: 33%;
  left: 74%;
  transform: translateX(-50%) rotate(8deg);
}



.border {
  position: absolute;
  background: red;
  overflow: hidden;
  white-space: nowrap;
  color: black;
  font-size: 18px;
  line-height: 36px;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
  z-index: 5;
}

.top, 
.bottom {
left: 0;
width: 100%;
height: 36px;
}

.top {
 top: 0;

}

.bottom { 
bottom: 0;

}

.left,
.right {
top: 0;
height: 100%;
width: 36px;
writing-mode: vertical-rl;

}

.left { 
    
left: 0;

}

.right { 
    
right: 0;

}

.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 420px;
  padding: 28px;
  font-size: 28px;
  line-height: 1.75;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  background:red;
  z-index: 95;
}

.one {
  left: 2%;
}

.two {
  right: 2%;
}

@media (max-width: 1766px) {
  .textbox {
    width: 70vw;
    height: 95vh;
  }

  .head {
    width: 650px;
    z-index: 45;
  }

  .texthead {
    font-size: 139px;
    gap: 3px;
    font-family: sans-serif;
  }
  
  .items a {
    position: absolute;
    display: block;
    transition: transform 0.25s ease;
  }

  .items a img {
    display: block;
    width: 14vw;
    height: auto;
    object-fit: contain;
    cursor: pointer;
  }

  .container {
    width: 170px;
    padding: 16px;
    font-size: 16px;
  }

}

