@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Cormorant+Garamond:wght@500;600&family=Inter:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family:sans-serif;
  background: rgb(0, 0, 0);
}



/* PANEL */
.panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1800px;
  height: 1800px;
  z-index: 50;
}

/* BACKGROUND IMAGE INSIDE PANEL */
.backgroundpanel {
  position: absolute;
  inset: 0;
  background: url("images/smileyface.png") center/cover no-repeat;
}

/* TEXT */
.textbox {
  position: absolute;
  inset: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
}

.stage {
  font-family: "Cormorant Garamond", serif;
  color: #ff0000;
  font-size: 3rem;
  letter-spacing: 12px;
  margin-bottom: 160px;
}

.textbox h1 {
  font-family: "Press Start 2P", monospace;
  color: #ff0000;
  font-size: 12rem;
  line-height: 1.2;
  margin-bottom: 190px;
}

.paragraph {
  width: 80%;
  color: #726868;
  font-size: 2.8rem;
  line-height: 1.8;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 10px;
}


.hover {
  position: absolute;
  opacity: 0;
  transition: opacity 0.25s ease;
  z-index: 50;
}

.middlepopup {
  width: 580px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.toppopup {
  width: 580px;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
}


.bottompopup {
  width: 520px;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
}

.leftpopup {
  width: 260px;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
}


.border {
  position: absolute;
  background: red;
  overflow: hidden;
  white-space: nowrap;
  color: black;
  font-size: 18px;
  line-height: 36px;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
  z-index: 10;
}

/* TOP + BOTTOM */
.top, .bottom {
  left: 0;
  width: 100%;
  height: 36px;
}

.top { top: 0; }
.bottom { bottom: 0; }

.left, .right {
  top: 0;
  height: 100%;
  width: 36px;
  writing-mode: vertical-rl;
}

.left { left: 0; }
.right { right: 0; }


.items {
  position: absolute;
  inset: 0;
  z-index: 20;
}

.items a {
  position: absolute;
  display: block;
  z-index: 15;
  transition: transform 0.25s ease;

}

.items a img{
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.items a:hover {
  transform: scale(1.05);
}

.item-1 {
  width: 320px;
  top: 6%;
  left: 4%;
  transform: rotate(-18deg);
}

.item-2 {
  width: 360px;
  top: 10%;
  left: 2%;
  transform: rotate(14deg);
}

.item-3 {
  width: 360px;
  top: 30%;
  right: 2%;
}

.item-4 {
  width:  320px;
  top: 10%;
  right: 1%;
  transform: rotate(-12deg);
}

.item-5 {
  width: 340px;
  bottom: 10%;
  left: 3%;
  transform: rotate(-20deg);
}

.item-6 {
  width: 340px;
  bottom: 10%;
  right: 2%;
  transform: rotate(18deg);
}

.item-7 {
  width: 380px;
  bottom: 3%;
  left: 2%;
  transform: rotate(8deg);
}

.item-8 {
  width:  420px;
  bottom: -8%;
  right: 1%;
  transform: rotate(-10deg);
}

.item-9 {
  width: 360px;
  top: 35%;
  left: 1%;
  transform: rotate(-12deg);
}

.item-10 {
  width: 35vw;
  top: 4%;
  right: 5%;
  transform: rotate(-12deg);
}

.item-11 {
  width: 360px;
  bottom: 5%;
  left: 1%;
  transform: rotate(-12deg);
}

/* LAPTOP / MID SCREENS */
@media (max-width: 1756px) {
  .panel {
    width: 65vw;
    height: 89vh;
  }
  .stage {
    font-size: 1.7rem;
    letter-spacing: 8px;
    margin-bottom: 50px;
  }

  .textbox h1 {
    font-size: 120px;
    margin-bottom: 55px;
  }

  .paragraph {
    width: 100%;
    font-size: 30px;
    line-height: 1.65;
    letter-spacing: 1px;
  }

  .item-1 { width: 15vw; }

  .item-2 { width: 15vw; }

  .item-3 { width: 15vw; }

  .item-4 { width: 15vw; }

  .item-5 { width: 15vw; }

  .item-6 { width: 15vw; }

  .item-7 { width: 15vw; }

  .item-8 { width: 15vw; }
  
  .item-9 { width: 23vw; }

  .item-10 { width: 23vw; }

  .item-11 { width: 15vw; }
}