* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cfd4df; /* soft grey background */
  font-family: Arial, sans-serif;
}

/* MAIN CONTAINER */
.card {
  width: 300px;
  background: #000000;
  border-radius: 16px;
  padding: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

/* IMAGE BOX */
.card-image {
  position: relative; /* ADD THIS */
  background: #000000;
  border-radius: 15px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  display: block;
}

/* TEXT AREA */
.card-text {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT TEXT */
.italic {
  font-size: 50px;
  color: #ff0000;
}

.order-btn {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);

  background: #c94c4c;

  padding: 10px 20px;
  border-radius: 25px;

  font-size: 28px;
  font-family: "Courier New", monospace;
  font-style: oblique;
  letter-spacing: 2px;

  text-align: center;
}