* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  background: #000000;
}

.container {
  width: 100vw;
  height: 190vh;
  position: relative;
  overflow: hidden;
}


.line {
  position: absolute;
  width: 100%;
  white-space: nowrap;
  font-weight: bold;
  color: red;
  animation: scroll linear 20s infinite;
}

.line.reverse {
  animation-direction: reverse;
}

.one { top: 6%; font-size: 6vw; }

.two { top: 15%; font-size: 6vw; }

.three { top: 24%; font-size: 6vw; }

.four { top: 33%; font-size: 7vw; }

.five { top: 43%; font-size: 7vw; }

.six { top: 54%; font-size: 6vw; }

.seven { top: 63%; font-size: 6vw; }

.eight { top: 72%; font-size: 6vw; }

.nine { top: 81%; font-size: 6vw; }

.ten {
  top: 89%;
  font-size: 6vw;
  text-decoration: none;
  color: red;
  cursor: pointer;
}


.ten:hover {
  color: white;
}

@keyframes scroll {
  from { 
    transform: translateX(0); 
  }

  to { 
    transform: translateX(-70%); 
  }
}

/* BORDER STRIPS */
.border-strip {
  position: absolute;
  background: red;
  overflow: hidden;
  z-index: 10;
}

.top,
.bottom {
  left: 0;
  width: 100%;
  height: 36px;
}

.top { top: 0; }
.bottom { bottom: 0; }

.left,
.right {
  top: 0;
  height: 100%;
  width: 36px;
}
.left { left: 0; }
.right { right: 0; }

.border-text {
  white-space: nowrap;
  color: black;
  font-size: 30px;
  line-height: 36px;
  font-family: "Times New Roman", serif;
  font-style: italic;
  padding-left: 10px;
}

.vertical {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
}