* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

.panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2400px;
  height: 1200px;
  overflow: hidden;
}

.backgroundpanel {
  position: absolute;
  inset: 0;
  background: url("../images/11.png") center/cover;
}

.textbox {
  position: absolute;
  inset: 0;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
  
}

.stage {
  color: red;
  font-size: 4rem;
  letter-spacing: 12px;
  margin-bottom: 50px;
}

.textbox h1 {
  color: #ff1919;
  font-size: 6.3rem;
  line-height: 1.15;
  margin-bottom: 50px;
}

.paragraph {
  width: 90%;
  color: #7a7a7a;
  font-size: 30px;
  line-height: 1.9;
  font-weight: 800;
  text-transform: uppercase;
  z-index: 1;
}

.hoverbar {
  position: absolute;
  left: 0;
  width: 100%;
  background: #000;
  color: #fff;
  font-family: "Press Start 2P", monospace;
  font-size: clamp(25px, 1.7vw, 50px);
  text-align: center;
  white-space: nowrap;
  opacity: 0;
  z-index: 10;
  overflow: hidden;
}

.tophover {
  top: -3%;
}

.middlehover {
  top: 50%;
  transform: translateY(-50%);
}

.bottomhover {
  bottom: 0;
}

.script {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.4em;
  margin: 0 12px;
}

.marqueebar {
  display: inline-block;
  animation: scroll 6s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20%);
  }
}


.items a {
  position: absolute;
  display: block;
  transition: transform 0.25s ease;
  z-index: 100;
  
}

.items a img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  cursor: pointer;

}

.items a:hover {
  transform: scale(2.05);
}

.item-1 {
  width: 12vw;
  top: 6%;
  left: 4%;
  rotate: -18deg;
}

.item-2 {
  width: 20vw;
  top: 2%;
  left: 10%;
  rotate: 14deg;
}

.item-3 {
  width: 20vw;
  top: 5%;
  right: 14%;
  rotate: 16deg;
}

.item-4 {
  width: 10vw;
  top: 48%;
  right: 3%;
  rotate: -12deg;
}

.item-5 {
  width: 190px;
  bottom: 10%;
  left: 3%;
  rotate: -20deg;
}

.item-6 {
  width: 250px;
  bottom: 1%;
  right: 6%;
  rotate: 18deg;
}

.item-7 {
  width: 250px;
  bottom: 3%;
  left: 28%;
  rotate: 8deg;
}

.item-8 {
  width: 250px;
  bottom: 3%;
  right: 18%;
  rotate: -10deg;
}

.item-9 {
  width: 250px;
  top: 2%;
  right: 35%;
  rotate: -12deg;
}

.item-10 {
  width: 250px;
  top: 2%;
  left: 8%;
  rotate: -12deg;
}

.item-11 {
  width: 350px;
  top: 45%;
  right: 2%;
  rotate: 10deg;
}

.item-12 {
  width: 280px;
  top: 25%;
  left: 1%;
  rotate: -8deg;
}

.item-13 {
  width: 200px;
  top: 7%;
  right: 2%;
  rotate: 12deg;
}

.item-14 {
  width: 200px;
  top: 7%;
  right: 1%;
  rotate: -6deg;
}

.item-15 {
  width: 200px;
  bottom: 2%;
  left: 1%;
  rotate: 14deg;
}

.item-16 {
  width: 200px;
  top: 15%;
  right: 15%;
  rotate: 14deg;
}

/* BORDER STRIPS */
.border {
  position: absolute;
  background: red;
  overflow: hidden;
  z-index: 1;
  white-space: nowrap;
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  font-style: italic;
}

.top,
.bottom {
  left: 0;
  width: 100%;
  height: 36px;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.left,
.right {
  top: 0;
  height: 100%;
  width: 36px;
  writing-mode: vertical-rl;

}

.left {
  left: 0;
}

.right {
  right: 0;
}

@media (max-width: 1756px) {
  .panel {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    height: 90vh;
  }
  .stage {
    font-size: 1.7rem;
    letter-spacing: 8px;
    margin-bottom: 24px;
  }

  .textbox h1 {
    font-size: 4.8rem;
    margin-bottom: 24px;
    line-height: 1.1;
  }

  .paragraph {
    width: 70%;
    font-size: 1.4rem;
    line-height: 1.65;
    letter-spacing: 1px;
  }

  .hoverbar {
    font-size: 38px;
    padding: 25px 0;
  }

  .item-1 { width: 170px; }

  .item-2 { width: 175px; }

  .item-3 { width: 175px; }

  .item-4 { width: 170px; }

  .item-5 { width: 170px; }

  .item-6 { width: 170px; }

  .item-7 { width: 170px; }

  .item-8 { width: 170px; }

  .item-9 { width: 175px; }

  .item-10 { width: 120px; }

  .item-11 { width: 120px; }

  .item-12 { width: 120px; }

  .item-13 { width: 120px; }

  .item-14 { width: 125px; }

  .item-15 { width: 125px; }

  .item-16 { width: 125px; }
}






